/* Goldweights
 */
#goldweights #zoomer {
  height: 551px;
  min-height: 551px;
  /* -webkit-transform: rotate(180deg); */
}

#goldweights ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

#goldweights ol > li {
  display: none;
}
#goldweights ol > li.active {
  display: block;
  margin: 0 1em;
}

#goldweights h3 {
  display: inline-block;
}
#goldweights .play {
  width: 1em;
  height: 1em;
}
#goldweights .playing {
}
