*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  font-size: 100%;
  margin: 0;
  padding: 0;
}

h1 { font-size: 2.125em; }
h2 { font-size: 1.6875em; }
h3 { font-size: 1.375em; }
h4 { font-size: 1.125em; }
h5 { font-size: 1.125em; }
h6 { font-size: 1em; }
@media only screen and (min-width: 768px) {
  h1, h2, h3, h4, h5, h6 { line-height: 1.4; }
  h1 { font-size: 2.75em; }
  h2 { font-size: 2.3125em; }
  h3 { font-size: 1.6875em; }
  h4 { font-size: 1.4375em; }
}

/* ^^ copped from froundation */

@media screen and (max-width: 21em) { /* 'iphone' */
  #info nav { display: none; }
  #zoomer {
    position: absolute;
    top: 0;
    left: 0;
    height: 80% !important;
    min-height: 0 !important;
    z-index: 1;
  }
  #zoomer.full_width {
    height: 100% !important;
  }
  #info {
    margin-top: 123%;
  }
  .ipadlandscape { min-height: 0 !important; }
}

@media screen and (min-width: 48em) {
  .ipadlandscape { min-height: 100vh !important; }
  #zoomer #flat_image, #zoomer .flatmap {
    min-height: 100vh;
  }

  #info {
    position: relative;
    width: 37.5%;
    float: left;
    height: 100vh !important;
  }
  #zoomer {
    position: relative;
    width: 62.5% !important;
    height: 100vh !important;
    /* min-height: 100vh; */
    float: left;
  }
}

@media screen and (min-width: 64.01em) {
  #info {
    max-width: 23em;
    position: relative;
    z-index: 1;
    background-color: #eee;
  }
  #zoomer {
    position: absolute;
    top: 0;
    left: 23em;
    width: calc(100% - 23em) !important;
  }
  #zoomer.full_width {
    left: 0;
    width: 100% !important;
  }

  #info nav {
    max-width: 100%;
  }
}
