 /* basic structure */

 .panel{
	margin:0 auto;
	padding:0;
}

/* main nav elements */

.mainnav {
	background-color:#222;
	color:#ededed;
}

#topNav {
	position:absolute;
	width:100%;
	top:0;
	left:0;
	height:40px;
	z-index:500;
}

#bottomNav {
	position:absolute;
	width:100%;
	bottom:0;
	left:0;
	height:40px;
	z-index:500;
}

#leftNav {
	position:absolute;
	height:100%;
	top:0;
	left:0;
	z-index:500;
	height:100%;
	width:40px;
}

#rightNav {
	position:absolute;
	height:100%;
	top:0;
	right:0;
	z-index:500;
	height:100%;
	width:40px;
}



/* ipad landscape-specific */

.ipadlandscape{
	min-height: 768px;
}

.icon-container{
	position:relative;
	margin:0;
	padding:0;
	width:100%;
	text-align:center;
	color:#fff;
}

.icon{
	display:block;
	font-size:1.4rem;
  padding: 3px 0 0 0;
}

.icon a {
	color:#222;
}

/* .icon:hover, a:hover .icon, .icon a:hover, #bottomNav:hover .icon { */
/* 	color:red; */
/* } */

.home{
	position:absolute;
	top:5px;
	left:10px;
}

.up-arrow{
	position:absolute;
	top:5px;
	left:512px;
	-moz-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}

.down-arrow{
	position:absolute;
	top:13px;
	left:512px;
	-moz-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

.left-arrow{
	position:absolute;
	top:364px;
	left:5px;
}

.right-arrow{
	position:absolute;
	top:364px;
	right:10px;
}

.menu{
	position:absolute;
	top:5px;
	right:10px;
}

.full-description{
	margin-bottom:1.5em;
	width:300px;
}

.full-description span {
	font-size:0.75em;
}

.slide-object-nav{
	border:1px solid #666;
	color:#333;
	-webkit-box-shadow:  1px 1px 2px 1px rgba(0, 0, 0, .2);
  box-shadow:  1px 1px 2px 1px rgba(0, 0, 0, .2);
  width: 2rem;
  height: 2rem;
}

#info nav #back {
  float: left;
  -webkit-transition all 0.2s linear;
}
#info nav #full {
  float: right;
}
#info nav #back span {
  /* padding: 0 0 0 1px; */
}
#info nav #full span {
  /* padding: 1px 0 0 2px; */
}
#info .tombstone {
  clear: both;
}
#zoomer .slide-object-nav {
  position: absolute;
  right: 1em;
  top: 1em;
  color: #111;
  background-color: rgba(250, 250, 250, .6);
}

/*navigation*/

/* set display */

#homeMode {
	/*display: none;*/
}

#objectMode {
}

#storyMode {
	display: none;
}


/* startup screen / home / full list of abjects and stories */

#homeMode{
	background-color:#ededed;
	text-align:center;
}

#home-container {
	width:620px;
	margin:0 auto;
}

#home-container h1 {
	margin-top:100px;
}

#home-container .home-buttons div{
	float:left;
	width:298px;
	padding:100px 50px;
	border:1px solid #666;
	font-size:2em;
	font-weight:700;
}

#home-container .home-buttons div:hover {
	background-color:#333;
	color:#fff;
}

#home-container .home-buttons div:first-child{
	margin-right:20px;
}


/* OBJECT MODE*/

#objectMode{
	background-color:#ededed;
}

#objectMode #about-object{
}
#objectMode #annotations{
	min-height:350px;
}
#objectMode #rel-stories{
	display:none;
}
#objectMode #rel-objects{
	display:none;
}

#objectMode .object-nav{
	margin-bottom:10px;
}

#objectMode .object-nav a {
	display:block;
	width:33.3%;
	float:left;
	padding:1em 0;
	margin-bottom:10px;
}

/* #objectMode .object-nav a.wide { */
/* 	width:320px; */
/* 	margin-bottom:2px; */
/* } */


#objectMode .object-nav a:nth-child(even) {
  border-width: 1px 0; /* Don't double the side borders on middle nav button */
}

#objectMode .object-stories{
	margin:0;
	padding:0;
	/*overflow-y:scroll;*/
}

#objectMode #annotations .ui-accordion-content{
	/*overflow-y:scroll;*/
	min-height:150px;
}

#zoomer {
	background-color:#ccc;
	text-align:center;
  height: 100%;
}
#zoomer.full_width {
}

#zoomer #flat_image, #zoomer .flatmap {
  position: relative;
  width: 100%;
  height: 100%;
}

ol#annotations, ol#annotations ol, ol#relatedStories {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

ol#annotations ol li div{
  display: none;
}
ol#annotations ol li.active div{
  display:block;
}
.attachments{
  position:relative;
  margin-bottom:25px;
  padding-left:25px;
}
.attachments h4{
  font-size:medium;
}
ol#annotations ol li.active div.attachment-thumb{
  width:90px;
  height:90px;
  border:1px solid #333;
  margin-right:10px;
  margin-bottom:10px;
  cursor:pointer;
  display:inline-block;
  background-color:rgba(0,0,0,0.9);
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;
}
ol#annotations ol li.active div.attachment-thumb div.attachment-big{
  display:none;
}
div.attachment-big .flatmap {
  height: 100%;
  width: 100%
}
div.attachment-big .icon {
  display: inline;
}
ol#annotations ol li.active div.attachment-thumb.active div.attachment-big{
  display:block;
  position:fixed;
  width:100%;
  height:100%;
  left:0;
  top:0;
  background-color:rgba(0,0,0,0.9);
  z-index:1000000001;
  text-align:center;
}
.attachment:nth-of-type(4){
  margin-right:0px;
}
div.attachment-big > a, div.attachment-big aside {
  position: absolute;
  bottom: 0;
  background-color: rgba(250, 250, 250, 0.5);
  color: black;
  padding: 1em 1.5em;
}
div.attachment-big > a {
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  white-space: nowrap;
}
div.attachment-big > a:before {
  font-size: 1.4em;
}
.attachment-big a.back {
  left: 0;
}
.attachment-big a.credits {
  right: 0;
}
div.attachment-big aside {
  right: 0;
  max-width: 35em;
  background-color: rgba(250, 250, 250, 0.9);
}

#annotations .wp-caption img {
  max-width: 150px;
  float: left
}
#annotations .wp-caption .wp-caption-text {
  display: none;
}
#annotations li {
  clear: both;
}

#zoomer {
  /* min-height: 768px; */
  /* height: 768px; */
  width: 100%;
}
#zoomer.full_width {
  width: 100%;
}
#zoomer.full_width .leaflet-container {
  background: #999;
}
#zoomer .typcn-chevron-right {
  position: relative;
  top: 2em;
  right: 95%;
  z-index: 10000;
}
#info {
  overflow-x: hidden;
  overflow-y: scroll;
	padding: 2em 1em;
}

#annotations {
  transition: all 0.5s;
}
#annotations li.active:before {
  content: "";
  /* height: 30%; */
  width: 1em;
  position: absolute;
  right: 0;
  display: block;
  z-index: 1000000000;
  border-top: 19px solid transparent;
  border-right: 19px solid #ddd;
  border-bottom: 19px solid transparent;

}

.slide-object-nav { z-index: 2000; position: relative; }

/* Style detail markers on the map and in the Details text the same
 */
.noteMarker {
  padding: 3em;
  margin: -3em !important;
  text-align: center;
}
.noteMarker, #annotations h3 em {
	font: 700 1em 'Source Sans Pro', sans-serif;
  color: #fff;
}
.noteMarker span, #annotations h3 em {
  height: 1.75rem !important;
  width: 1.75rem !important;
  border-radius: 1em;
  font-weight: 700;
  text-align: center;
  font-size: 1.125rem;
  padding: 0.1em 0 0 0;
}
.noteMarker span {
  display: block !important;
  background-color: rgba(1, 1, 1, 0.7);
  margin: -0.75em 0 0 -0.75em;
}
#annotations h3 em {
  background-color:#000;
  display: inline-block;
  margin-right: 10px;
  font-style: normal;
}
.noteMarker:hover span, .noteMarker:active span {
  background-color: rgba(1, 1, 1, 0.8);
  -webkit-transform: scale(1.1);
}

/* Hide the overlay when Details isn't active
 */
.leaflet-map-pane .leaflet-overlay-pane, .noteMarker span {
  transition: opacity 0.25s 0s;
  opacity: 0;
}
#zoomer.annotations .leaflet-overlay-pane {
  opacity: 1;
  transition: opacity 0.25s 0s;
}
#zoomer.annotations .noteMarker span {
  opacity: 1;
  transition: opacity 0.25s 0s;
}

.flatmap .view img {
  max-width: 33.3% !important;
  float: left;
}
.flatmap .view {
  display: none;
}
#objectMode.showViews .flatmap .view {
  display: inline;
  min-height: 3em;
}
#objectMode.showViews .flatmap [class^=leaflet-] {
  opacity: 0;
  display: none;
}

/* More */

#relatedStories h5{
  text-transform:uppercase;
}
#relatedStories li{
  list-style:none;
}
#relatedStories li a, #about-object a {
  color:#222;
  width:100%;
  border:1px solid #222;
  padding:10px 15px;
  display:block;
  margin:5px 0px;
  text-align:left;
  font-size:1em;
  transition:all 250ms linear;
  text-decoration: none;
}
#relatedStories li a:hover{
  color:#ededed;
  background-color:#222;
}

/* Fix the first nav with Back and Full Screen at the top
 */
#info nav {
  position: fixed;
  width: 320px;
  top: 0;
  padding: 1em 0;
  background-color: #eee;
  z-index: 10;
}
#info div.tombstone {
  margin-top: 2em;
}
/* When we've scrolled far enough, fix the `About, Details, More` nav too
 * Sadly, `position: sticky;` doesn't work when only the #info div is scrolling
 */
#info.scrolled .object-nav {
  position: fixed;
  top: 1em;
  left: 133px;
  z-index: 11;
  font-size: 111%;
}
#objectMode #info.scrolled .object-nav a {
  padding: 7px 0.75em;
}
#info.scrolled .object-stories {
  padding-top: 3em;
}

.flatmap .hint {
  position: absolute;
  bottom: 2em;
  right: 1em;
  z-index: 1000;
  margin: 0 auto;
  color: #222;
  background: rgba(251, 251, 251, 0.5);
  padding: 0.5em;
  font-size: 1.25em;
  transition: all 0.2s linear;
}
.flatmap.zoomed .hint {
  max-height: 0;
  opacity: 0;
  z-index: -1;
}

div.container {
  -webkit-transform-origin: bottom right;
  margin: 0;
  padding: 0;
}
body:after {
  -webkit-transition: opacity 0.7s linear;
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
  div.container {
    -webkit-transform: rotate(-90deg);
  }
  #objectMode, article.story {
    -webkit-transform: translate(531px, 0px);
    width: 1024px !important;
  }
  #cover {
    -webkit-transform: translateY(-50px);
  }
  body:after {
    width: 768px;
    height: 1024px;
    background-color: rgba(234, 234, 234, 0.8);
    color: #222;
    font-size: 2em;
    content: "Rotate to Landscape";
    padding: 55% 0;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
  }
  /* .full_width { */
  /*   opacity: 1 !important; */
  /*   z-index: 1; */
  /* } */
}

aside.tombstone {
  opacity: 0;
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  position: relative;
  z-index: -1;
  max-height: 0; }

aside.tombstone.extended {
  margin: -1em 0 1em 0;
  max-height: 100em;
  opacity: 1;
  z-index: 0; }

#toggleTombstone {
  color: #222;
  border-radius: 1em;
  font-size: 1.5em;
  float: right;
  margin: -.1em 0.1em 0 0; }

#toggleTombstone.open {
  color: #eee;
  background: #222;
  font-weight: 700; }
