/* structure rules */

html, body {
}

body{

}

/* clearfix */

.clearfix:after {
     content: ".";
     visibility: hidden;
     display: block;
     height: 0;
     clear: both;
  }

  * html .clearfix             { zoom: 1; } /* IE6 */
  *:first-child+html .clearfix { zoom: 1; } /* IE7 */

/* fluid images */

img {
       max-width: 100%;
  }

  img,
  object {
       max-width: 100%;
  }

  /* IE specific*/
  img {
       width: 100%;
  }

 /* basic structure */

 .panel{
	margin:0 auto;
	padding:0;
}

/* main nav elements */

.mainnav {
	background-color:#222;
	color:#ededed;
}

#topNav {
	position:absolute;
	width:100%;
	top:0;
	left:0;
	height:40px;
	z-index:500;
}

#bottomNav {
	position:absolute;
	width:100%;
	bottom:0;
	left:0;
	height:40px;
	z-index:500;
}

#leftNav {
	position:absolute;
	height:100%;
	top:0;
	left:0;
	z-index:500;
	height:100%;
	width:40px;
}

#rightNav {
	position:absolute;
	height:100%;
	top:0;
	right:0;
	z-index:500;
	height:100%;
	width:40px;
}



/* ipad landscape-specific */

.ipadlandscape{
	height:768px;
}

.icon-container{
	position:relative;
	margin:0;
	padding:0;
	width:100%;
	text-align:center;
	color:#fff;
}

.icon{
	height:20px;
	width:20px;
	display:block;
	font-size:1.5em;
}

.icon a {
	color:#222;
}

.icon:hover, a:hover .icon, .icon a:hover, #bottomNav:hover .icon {
	color:red;
}

.home{
	position:absolute;
	top:5px;
	left:10px;
}

.up-arrow{
	position:absolute;
	top:5px;
	left:512px;
	-moz-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}

.down-arrow{
	position:absolute;
	top:13px;
	left:512px;
	-moz-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

.left-arrow{
	position:absolute;
	top:364px;
	left:5px;
}

.right-arrow{
	position:absolute;
	top:364px;
	right:10px;
}

.menu{
	position:absolute;
	top:5px;
	right:10px;
}

.full-description{
	margin-bottom:1.5em;
	width:300px;
}

.full-description span {
	font-size:0.75em;
}

.slide-object-nav{
	border:1px solid #666;
	color:#333;
	-webkit-box-shadow:  1px 1px 2px 1px rgba(0, 0, 0, .2);
  box-shadow:  1px 1px 2px 1px rgba(0, 0, 0, .2);
  width:30px;
  height:30px;
}

#info nav {
  margin: -1em 0 4em 0;
}
#info nav #back {
  float: left;
  background: #eee;
  -webkit-transition all 0.2s linear;
}
#info.scrolled nav #back span {
  /* font-size: 108%; */
  /* width: 22px; */
  /* height: 22px; */
  position: fixed;
  /* top: 0.75em; */
  /* left: 0.25em; */
  top: 1em;
  left: 0;
  border-width: 0;
  box-shadow: none;
  padding: 1em 0 3em 0;
  margin: -1em 0 -3em 0;
}
#info nav #full {
  float: right;
}
#info nav #full span {
  padding: 1px 0 0 2px;
}
#info .tombstone {
  clear: both;
}
#zoomer.full_width .typcn-arrow-minimise {
  position: absolute;
  right: 1em;
  top: 1em;
  color: #ddd;
}

/*navigation*/

/* set display */

#homeMode {
	/*display: none;*/
}

#objectMode {
}

#storyMode {
	display: none;
}


/* startup screen / home / full list of abjects and stories */

#homeMode{
	background-color:#ededed;
	text-align:center;
}

#home-container {
	width:620px;
	margin:0 auto;
}

#home-container h1 {
	margin-top:100px;
}

#home-container .home-buttons div{
	float:left;
	width:298px;
	padding:100px 50px;
	border:1px solid #666;
	font-size:2em;
	font-weight:700;
}

#home-container .home-buttons div:hover {
	background-color:#333;
	color:#fff;
}

#home-container .home-buttons div:first-child{
	margin-right:20px;
}


/* OBJECT MODE*/

#objectMode{
	background-color:#ededed;
}

#objectMode #about-object{
}
#objectMode #annotations{
	min-height:350px;
}
#objectMode #rel-stories{
	display:none;
}
#objectMode #rel-objects{
	display:none;
}

#objectMode .large-6{
	padding:2em;
}

#objectMode .large-10{
	background-color:#ccc;
	text-align:center;
  height: 100%;
}
#objectMode .large-10.full_width {
}

#objectMode .object-nav{
	margin-bottom:10px;
}

#objectMode .object-nav a {
	display:block;
	width:33.3%;
	float:left;
	padding:1em 0;
	margin-bottom:10px;
}

/* #objectMode .object-nav a.wide { */
/* 	width:320px; */
/* 	margin-bottom:2px; */
/* } */


#objectMode .object-nav a:nth-child(even) {
  border-width: 1px 0; /* Don't double the side borders on middle nav button */
}

#objectMode .object-stories{
	margin:0;
	padding:0;
	/*overflow-y:scroll;*/
}

#objectMode #annotations .ui-accordion-content{
	/*overflow-y:scroll;*/
	min-height:150px;
}

#zoomer #flat_image, #zoomer .flatmap {
  position: relative;
  width: 100%;
  height: 100%;
}

ol#annotations, ol#annotations ol {
  list-style: none;
  margin-left: 0px;
}

ol#annotations ol li div {
  display: none;
}
ol#annotations ol li.active div {
  display: block;
}

#annotations .wp-caption img {
  max-width: 150px;
  float: left
}
#annotations .wp-caption .wp-caption-text {
  display: none;
}
#annotations li {
  clear: both;
}

#zoomer {
  min-height: 768px;
  height: 768px;
}
#zoomer.full_width {
  width: 100%;
}
#zoomer.full_width .leaflet-container {
  background: #999;
}
#zoomer .typcn-chevron-right {
  position: relative;
  top: 2em;
  right: 95%;
  z-index: 10000;
}
#info {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 768px;
}

#annotations {
  transition: all 0.5s;
}
#annotations li.active:before {
  content: "";
  /* height: 30%; */
  width: 1em;
  position: absolute;
  right: 0;
  display: block;
  z-index: 1000000000;
  border-top: 19px solid transparent;
  border-right: 19px solid #ddd;
  border-bottom: 19px solid transparent;

}



.slide-object-nav { z-index: 2000; position: relative; }

.noteMarker {
  color: #fff;
	font: 700 1em "myriad-pro", sans-serif;
  opacity: 0;
  /* transition: opacity 0.25s 2s; */
}

.noteMarker span {
  display: block !important;
  width: 20px !important;
  height: 17px !important;
  background-color: rgba(1, 1, 1, 0.7);
  border-radius: 10px;
  margin: -9px 0 0 -9px;
  transition: 0.25s background-color, 0.25s -webkit-transform;
}

.noteMarker:hover span, .noteMarker:active span {
  background-color: rgba(1, 1, 1, 0.8);
  -webkit-transform: scale(1.1);
}

.noteMarker {
  padding: 3em;
  margin: -3em !important;
  text-align: center;
}

.leaflet-map-pane .leaflet-overlay-pane, .noteMarker span {
  transition: opacity 0.25s 0s;
  opacity: 0;
}
#zoomer.annotations .leaflet-overlay-pane {
  opacity: 1;
  transition: opacity 0.25s 0s;
}
#zoomer.annotations .noteMarker span {
  opacity: 1;
  transition: opacity 0.25s 0s;
}

.flatmap .view img {
  max-width: 33.3% !important;
  float: left;
}
.flatmap .view {
  display: none;
}
#objectMode.showViews .flatmap .view {
  display: inline;
  min-height: 3em;
}
#objectMode.showViews .flatmap [class^=leaflet-] {
  opacity: 0;
  display: none;
}

/* More */

#relatedStories h5{
  text-transform:uppercase;
}
#relatedStories li{
  list-style:none;
}
#relatedStories li a, #about-object a {
  color:#222;
  width:100%;
  border:1px solid #222;
  padding:10px 15px;
  display:block;
  margin:5px 0px;
  text-align:left;
  font-size:1em;
  transition:all 250ms linear;
}
#relatedStories li a:hover{
  color:#ededed;
  background-color:#222;
}



/* STORY MODE */
/*
#storyMode {
  display: none;
}
*/
/*

.testnav{
  position:absolute;
  top:50px;
  left:12px;
  list-style-type: none;
}

.testnav li{
  margin:20px 0;
}

#s2, #s3, #s4, #s5, #s6{
  display:none;
}

*/

/* Structure */

.story{
  position:relative;
  width:1024px;
  height:748px;
  top:0;
  left:0;
  overflow:hidden;
  padding:0px;
background: #ffffff;
background: -moz-radial-gradient(center, ellipse cover,  #ffffff 0%, #e5e5e5 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5));
background: -webkit-radial-gradient(center, ellipse cover,  #ffffff 0%,#e5e5e5 100%);
background: -o-radial-gradient(center, ellipse cover,  #ffffff 0%,#e5e5e5 100%);
background: -ms-radial-gradient(center, ellipse cover,  #ffffff 0%,#e5e5e5 100%);
background: radial-gradient(ellipse at center,  #ffffff 0%,#e5e5e5 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=1 );
  white-space:nowrap;
}
.story #pages-wrap{
  position:relative;
  top:0;
  left:0;
  width:100%;
  height:100%;
  -webkit-transition:all 500ms cubic-bezier(0.81, 0.11, 0.11, 0.91);
}
.story section{
  position:relative;
  display:inline-block;
  width:100%;
  height:100%;
  vertical-align:top;
  white-space:normal;
}

/* Universal story elements */

.story .caption-wrap{
  position:absolute;
  width:600px;
  background-color:rgba(255,255,255,0.9);
  left:212px;
  bottom:0px;
  z-index:2;
  overflow:scroll;
}
.story .caption{
  padding:25px 25px;
}
.story .caption-close-wrap{
  width:100%;
  /* height:30px; */
  margin-top:10px;
  margin-bottom:10px;
}
.story .caption-close{
  position:absolute;
  right:10px;
  border:2px solid #000;
  width:28px;
  height:28px;
  border-radius:1000px;
  color:#000;
  line-height:0.9em;
  cursor:pointer;
}
.story .caption-close:hover{
  color:#fff;
  background-color:#000;
}
.story .caption-open{
  position:absolute;
  width:100px;
  height:30px;
  left:462px;
  bottom:0px;
  background-color:#fff;
  color:#222;
  z-index:3;
  text-align:center;
  padding-top:8px;
  text-transform:uppercase;
  font-weight:bold;
  font-size:0.9em;
  cursor:pointer;
}
.story #story-header{
  position:absolute;
  width:100%;
  height:50px;
  top:0;
  left:0;
  background-color:#000;
  z-index:1001;
}
.story #story-header #story-back{
  position:absolute;
  height:39px;
  width:38px;
  line-height:25px;
  left:0px;
  top:11px;
  display:block;
  text-align:center;
  color:#fff;
  border:0px;
  -webkit-box-shadow:none;
  cursor:pointer;
}
.story #story-header #story-menu-button{
  position:absolute;
  height:50px;
  width:48px;
  line-height:25px;
  right:0px;
  top:11px;
  display:block;
  text-align:center;
  color:#fff;
  border:0px;
  cursor:pointer;
}
.story #story-header h1{
  text-align:center;
  font-size:1.5em;
  color:#fff;
  font-weight:500;
  height:50px;
  line-height:50px;
  margin:0px;
  position:absolute;
  width:100%;
}
.story #story-menu{
  position:absolute;
  top:-200px;
  height:200px;
  width:100%;
  background-color:#000;
  color:#fff;
  padding:10px 25px;
  text-align:left;
  transition:top 400ms cubic-bezier(0.81, 0.11, 0.11, 0.91);
  z-index:1000;
}
.story #story-menu.selected{
  top:50px;
}
.story #story-menu .story-menu-label{
  text-transform:uppercase;
  font-weight:bold;
  font-size:0.9em;
  padding-bottom:10px;
  display:block;
}
.story #story-menu .items{
  position:relative;
  left:1024px;
  transition:left 400ms cubic-bezier(0.81, 0.11, 0.11, 0.91);
  transition-delay:175ms;
}
.story #story-menu .item{
  display:inline-block;
  margin-right:25px;
}
.story #story-menu.selected .items{
  left:0px;
}
.story #story-menu .flatmap{
  width:100px;
  height:100px;
  display:block;
  border:1px solid #fff;
  cursor:pointer;
}
.story #story-menu .title{
  color:#fff;
  margin-top:5px;
  display:block;
}
.story .page-arrow{
  position:absolute;
  width:60px;
  height:80px;
  background-color:#000;
  color:#fff;
  top:324px;
  padding:5px 0px;
  cursor:pointer;
  z-index:10;
}
.story #page-prev{
  left:0;
}
.story #page-next{
  right:0;
}
.story .page-arrow .page-arrow-text{
  font-size:0.7em;
  text-transform:uppercase;
  color:#fff;
  display:block;
  width:60px;
  padding:10px 15px;
  white-space:normal;
  text-align:center;
}
.story .page-arrow .page-arrow-icon{
  font-size:40px;
  line-height:8px;
  text-align:center;
  display:block;
  width:100%;
  color:#fff;
}
.story .page-arrow .page-arrow-icon:hover{
  color:#fff;
}
/*
.story #story-pages{
  float:right;
  font-size:1.1em;
  color:#fff;
  font-weight:500;
  height:40px;
  line-height:50px;
  margin:0px;
  padding-right:5px;
}
.story #story-pages span{
  width:26px;
  height:26px;
  text-align:center;
  display:inline-block;
  cursor:pointer;
  border:1px solid #fff;
  border-radius:1000px;
  margin:0px 5px;
  line-height:23px;
}
.story #story-pages span.selected,
.story #story-pages span:hover{
  background-color:#fff;
  color:#000;
}
*/

/* Image Story */

.story .story-image .flatmap {
  position: absolute;
  width: 100%;
  height:698px;
  left:0;
  top:50px;
}
/* .story .story-image.wide .flatmap { */
/*   height: 598px; */
/* } */
/* .story .story-image.wide + .caption-wrap { */
/*   height: 100px; */
/* } */
.story .story-image.tall .flatmap {
  width: 60%;
}
.story .story-image.tall + .caption-wrap .caption {
  padding-right: 20%;
  max-height: 687px;
}
.story .story-image.full .flatmap {
  width: 100%;
}
.story .story-image.full + .caption-wrap {
  width: 0%;
}
.story .story-image.tall + .caption-wrap {
  width: 40%;
  /* right: 0; isn't working */
  left: 0;
  margin-left: 60%;
}

/* Side by Side Story */

.story .story-comparison .flatmap{
  position:absolute;
  width:50%;
  height:698px;
  top:50px;
}
.story .story-comparison .flatmap-a{
  left:0;
  border-right:2px solid #fff;
}
.story .story-comparison .flatmap-b{
  right:0;
  margin-left:3px;
}

/* Video Story - absolute center video */

.story video {
  display:block;
  width:600px;
  height:340px;
  margin:0px auto 15px auto;
}

/*
.story img {
  max-height:500px;
  text-align:center;
  margin:0 auto;
}

.story .img-container{
  margin:0 auto;
}

.story h3 {
  width:100%;
  border-bottom:1px solid #333;
  padding-bottom:5px;
  margin-bottom:20px;
}

.story .side-by-side .flatmap {
  width: 50%;
  float: left;
}

.story nav img {
  max-width: 10%;
}
*/

.twocol{
  -moz-column-count: 2;
    -moz-column-gap: 16px;
    -webkit-column-count: 2;
    -webkit-column-gap: 16px;
    column-count: 2;
  column-gap: 16px;
}

.s-text div{
  margin-top:20px;
}

.s-text .credits a{
  display:block;
  text-transform: uppercase;
  font-size:0.85em;
  color:#fff;
  font-weight:700;
  text-align:center;
  background-color: #222;
  width:100px;
  float:right;
  padding:1em;
}

#toggleTombstone {
  margin-left: 1em;
}
aside.tombstone {
  opacity: 0;
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  position: relative;
  z-index: -1;
  max-height: 0;
}
aside.tombstone.extended {
  margin: -1em 0 1em 0;
  max-height: 100em;
  opacity: 1;
  z-index: 0;
}

.fitts-law {
  padding: 3em;
  margin: -3em;
}

#cover {
  list-style: none;
  width: 100%;
  -webkit-perspective: 500px;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
  overflow: hidden, scroll;
  height: 748px;
  box-sizing: border-box;
  margin: 0; padding: 0;
}
#cover li {
  display: inline-block;
  width: 25%;
  margin: 0 1em;
  position: relative;
}
#cover li.active {
  -webkit-transition: -webkit-transform 0.9s ease-in-ease-out;
  -webkit-transform: scale(1.1);
  border-bottom: 0.25em #999;
}
#cover li h5, #cover li h6{
  display: none;
  text-align: center;
  position: absolute;
  width: 100%;
  color: black;
  z-index: 2;
}
#cover li h5 {
  padding-bottom: 1em;
  top: -2em;
  right: 0;
}
#cover li h6 {
  padding-top: 1em;
  bottom: -2em;
  right: 0;
  color: #222;
}
#cover li.active h5, #cover li.active h6 {
  display: inline;
}
#cover li img {
  max-height: 100%;
}
