/* structure rules */

html, body {
}

body{

}

/* clearfix */

.clearfix:after {
     content: ".";
     visibility: hidden;
     display: block;
     height: 0;
     clear: both;
  }

  * html .clearfix             { zoom: 1; } /* IE6 */
  *:first-child+html .clearfix { zoom: 1; } /* IE7 */

/* fluid images */

img {
       max-width: 100%;
  }

  img,
  object {
       max-width: 100%;
  }

  /* IE specific*/
  img {
       width: 100%;
  }

 /* basic structure */

 .panel{
	margin:0 auto;
	padding:0;
}

/* main nav elements */

.mainnav {
	background-color:#222;
	color:#ededed;
}

#topNav {
	position:absolute;
	width:100%;
	top:0;
	left:0;
	height:40px;
	z-index:500;
}

#bottomNav {
	position:absolute;
	width:100%;
	bottom:0;
	left:0;
	height:40px;
	z-index:500;
}

#leftNav {
	position:absolute;
	height:100%;
	top:0;
	left:0;
	z-index:500;
	height:100%;
	width:40px;
}

#rightNav {
	position:absolute;
	height:100%;
	top:0;
	right:0;
	z-index:500;
	height:100%;
	width:40px;
}



/* ipad landscape-specific */

.ipadlandscape{
	height:768px;
}

.icon-container{
	position:relative;
	margin:0;
	padding:0;
	width:100%;
	text-align:center;
	color:#fff;
}

.icon{
	height:20px;
	width:20px;
	display:block;
	font-size:1.5em;
}

.icon a {
	color:#222;
}

.icon:hover, .icon a:hover, #bottomNav:hover .icon {
	color:red;
}

.home{
	position:absolute;
	top:5px;
	left:10px;
}

.up-arrow{
	position:absolute;
	top:5px;
	left:512px;
	-moz-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}

.down-arrow{
	position:absolute;
	top:13px;
	left:512px;
	-moz-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

.left-arrow{
	position:absolute;
	top:364px;
	left:5px;
}

.right-arrow{
	position:absolute;
	top:364px;
	right:10px;
}

.menu{
	position:absolute;
	top:5px;
	right:10px;
}

.full-description{
	margin-bottom:1.5em;
	width:300px;
}

.full-description span {
	font-size:0.75em;
}

.slide-object-nav{
	border:1px solid #666;
	color:#333;
	-webkit-box-shadow:  1px 1px 2px 1px rgba(0, 0, 0, .2);
  box-shadow:  1px 1px 2px 1px rgba(0, 0, 0, .2);
  width:30px;
  height:30px;
}

#info nav {
  margin: -1em 0 4em 0;
}
#info nav #back {
  float: left;
}
#info nav #full {
  float: right;
  padding: 1px 0 0 2px;
}
#info .tombstone {
  clear: both;
}
#zoomer.full_width .typcn-arrow-minimise {
  position: absolute;
  right: 1em;
  top: 1em;
}

/*navigation*/

/* set display */

#homeMode {
	/*display: none;*/
}

#objectMode {
}

#storyMode {
	display: none;
}


/* startup screen / home / full list of abjects and stories */

#homeMode{
	background-color:#ededed;
	text-align:center;
}

#home-container {
	width:620px;
	margin:0 auto;
}

#home-container h1 {
	margin-top:100px;
}

#home-container .home-buttons div{
	float:left;
	width:298px;
	padding:100px 50px;
	border:1px solid #666;
	font-size:2em;
	font-weight:700;
}

#home-container .home-buttons div:hover {
	background-color:#333;
	color:#fff;
}

#home-container .home-buttons div:first-child{
	margin-right:20px;
}


/* OBJECT MODE*/

#objectMode{
	background-color:#ededed;
}

#objectMode #about-object{
}
#objectMode #annotations{
	min-height:350px;
}
#objectMode #rel-stories{
	display:none;
}
#objectMode #rel-objects{
	display:none;
}

#objectMode .large-6{
	padding:2em;
}

#objectMode .large-10{
	background-color:#ccc;
	text-align:center;
  height: 100%;
}
#objectMode .large-10.full_width {
}

#objectMode .object-nav{
	margin-bottom:10px;
}

#objectMode .object-nav a {
	display:block;
	width:155px;
	float:left;
	padding:1em 0;
	margin-bottom:10px;
}

#objectMode .object-nav a.wide {
	width:320px;
	margin-bottom:2px;
}


#objectMode .object-nav a:nth-child(even) {
	margin-left:10px;
}

#objectMode .object-stories{
	margin:0;
	padding:0;
	/*overflow-y:scroll;*/
}

#objectMode #annotations .ui-accordion-content{
	/*overflow-y:scroll;*/
	min-height:150px;
}

/* STORY MODE */
/*
#storyMode {
	display: none;
}
*/

.testnav{
	position:absolute;
	top:50px;
	left:12px;
	list-style-type: none;
}

.testnav li{
	margin:20px 0;
}

#s2, #s3, #s4, #s5, #s6{
	display:none;
}

.story{
	width:940px;
	margin:0 auto 0 auto;
	padding:20px;
}

.story img {
	max-height:500px;
	text-align:center;
	margin:0 auto;
}

.story .img-container{
	margin:0 auto;
}

.story h3 {
	width:100%;
	border-bottom:1px solid #333;
	padding-bottom:5px;
	margin-bottom:20px;
}

.twocol{
	-moz-column-count: 2;
    -moz-column-gap: 16px;
    -webkit-column-count: 2;
    -webkit-column-gap: 16px;
    column-count: 2;
	column-gap: 16px;
}

.s-text div{
	margin-top:20px;
}

.s-text .credits a{
	display:block;
	text-transform: uppercase;
	font-size:0.85em;
	color:#fff;
	font-weight:700;
	text-align:center;
	background-color: #222;
	width:100px;
	float:right;
	padding:1em;
}

#flat_image, .flatmap {
  position: relative;
  width: 100%;
  height: 100%;
}

#cover {
  list-style: none;
  -webkit-columns: 6;
  padding: 1em;
  margin: 0;
}

ol#annotations, ol#annotations ol {
  list-style: none;
  margin-left: 0px;
}

ol#annotations ol li div {
  display: none;
}
ol#annotations ol li.active div {
  display: block;
}

#zoomer {
  min-height: 768px;
  height: 768px;
}
#zoomer.full_width {
  width: 100%;
}
#zoomer .typcn-chevron-right {
  position: relative;
  top: 2em;
  right: 95%;
  z-index: 10000;
}
#info {
  overflow-y: scroll;
  height: 768px;
}

#annotations {
  transition: all 0.5s;
}
#annotations li.active:before {
  content: "";
  /* height: 30%; */
  width: 1em;
  position: absolute;
  right: 0;
  display: block;
  z-index: 1000000000;
  border-top: 19px solid transparent;
  border-right: 19px solid #ddd;
  border-bottom: 19px solid transparent;

}


.slide-object-nav { z-index: 2000; position: relative; }

.noteMarker {
  color: #fff;
	font: 700 1em "myriad-pro", sans-serif;
  opacity: 0;
  /* transition: opacity 0.25s 2s; */
}

.noteMarker span {
  display: block !important;
  width: 20px !important;
  height: 17px !important;
  background-color: rgba(1, 1, 1, 0.7);
  border-radius: 10px;
  margin: -9px 0 0 -9px;
  transition: 0.25s background-color, 0.25s -webkit-transform;
}

.noteMarker:hover span, .noteMarker:active span {
  background-color: rgba(1, 1, 1, 0.8);
  -webkit-transform: scale(1.1);
}

/* @media screen and (min-device-width : 768px) and (max-device-width : 1024px) { */
  .noteMarker {
    padding: 2em;
    margin: -2em !important;
    text-align: center;
  }
/* } */

.leaflet-map-pane .leaflet-overlay-pane {
  transition: opacity 0.25s 2s;
  opacity: 0;
}
.leaflet-map-pane:hover .leaflet-overlay-pane, .leaflet-map-pane:active .leaflet-overlay-pane, #zoomer.annotations .leaflet-overlay-pane {
  opacity: 1;
  transition: opacity 0.25s 0s;
}
.leaflet-map-pane:hover .noteMarker, .leaflet-map-pane:active .noteMarker, #zoomer.annotations .noteMarker {
  opacity: 1;
  transition: opacity 0.25s 0s;
}

.flatmap .view img {
  max-width: 33.3% !important;
  float: left;
}
.flatmap .view {
  display: none;
}
#objectMode.showViews .flatmap .view {
  display: inline;
  min-height: 3em;
}
#objectMode.showViews .flatmap [class^=leaflet-] {
  opacity: 0;
  display: none;
}
