/**
 * Site and reusable element styles.
 */

*,
*:before,
*:after {
  @include box-sizing( border-box );
}


html,
body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  text-rendering:optimizeLegibility;
  -moz-font-feature-settings:"kern=0";
  -webkit-font-feature-settings:"kern" 0;
  -o-font-feature-settings:"kern" 0;
  -ms-font-feature-settings:"kern" 0;
  font-feature-settings:"kern" 0;
  -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
}

/* Container styles */
.container {
  @include transition( opacity 150ms ease );
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  overflow:hidden;
}

/* Fluid images */

img,
object {
  max-width: 100%;
  outline:0;
  border:0;
  margin:0;
  padding:0;
}

/* Remove link highlighting */
a { 
  -webkit-tap-highlight-color: transparent; 
}

/* Clearfix */

.clearfix:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

/* Vertical centering */

.vcenter-table {
  display:table;
  width:100%;
  height:100%;
}
.vcenter-cell {
  display:table-cell;
  vertical-align:middle;
}

/* Type */

html,
body{
  font-family: 'Source Sans Pro', sans-serif;
  line-height:1.4;
}

h1 { font-size: 1.6875em; }
h2 { font-size: 1.375em; }
h3 { font-size: 1.375em; }
h4 { font-size: 1.125em; }
h5 { font-size: 1.125em; }
h6 { font-size: 1em; }

/* Colors */

html,
body{
  background-color:#ededed;
}

/* Flatmaps */

.flatmap {
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
}
.flatmap .hint {
  @include transition( opacity 250ms linear );
  position: absolute;
  right:15px;
  bottom:15px;
  margin: 0;
  padding: 10px;
  color: #444;
  background: rgba(255, 255, 255, 0.75);
  font-style:italic;
  white-space:nowrap;
  opacity:1;
  z-index: 3;

  // Override Leaflet font styles
  font-family: 'Source Sans Pro', sans-serif !important;
  font-size: 16px !important;
  line-height:1.4 !important;

  // TODO: Target non-touch devices
  @media screen and (min-width:1025px) {
    display:none;
  }

}
.flatmap.zoomed .hint {
  opacity: 0;
}

/**
 * Button and Icon styles
 *
 * @extend these and define positioning and special styling.
 */

.home-icon{
  @include icon('\e802');
  width:40px;
  height:40px;
  background-color:#222;
  border-radius:1000px;
  border:2px solid #fff;
  cursor:pointer;

  &:before {
    color:#fff;
    font-size:18px;
    margin-top:-9px;
  }
}

.minimize-icon {
  @include icon( '\e801' );
  @include transition( margin-top 100ms linear );
  width:40px;
  height:40px;
  border-radius:1000px;
  background-color:#222;
  border:2px solid #fff;
  cursor:pointer;

  &:before{
    color:#fff;
    font-size:20px;
    margin-top:-10px;
  }

  .contentMinimized &{
    @include icon( '\e800' );

    &:before{
      font-size:20px;
      margin-top:-10px;
    }
  }
}

.maximize-icon {
  @include icon( '\e800' );
  width:40px;
  height:40px;
  border-radius:1000px;
  background-color:#222;
  border:2px solid #fff;
  cursor:pointer;

  &:before{
    color:#fff;
    font-size:20px;
    margin-top:-10px;
  }

}

.meta-icon {
  @include icon( '\e813' );
  @include transition( all 125ms ease );
  width:40px;
  height:40px;
  background-color:#222;
  border-radius:1000px;
  border:2px solid #fff;

  // Icon
  &:before{
    color:#fff;
    font-size:20px;
    margin-top:-10px;
  }

  &.open,
  .showAttachmentMeta &{
    background-color:#fff;
    border-color:#222;

    // Icon
    &:before{
      color:#222;
    }
  }
}

/**
 * Navigation
 */
.nav-button {
  position:fixed;
  margin-top:0;
  padding:10px 5px 5px;
  background-color:#222;
  color:#fff;
  font-size:0.7em;
  text-transform:uppercase;
  text-align:center;
  cursor:pointer;
  z-index:3;

  // -- rev -- //
  // top:50%;
  // width:45px;
  // height:45px;
  padding:0;
  width:70px;
  height:40px;
  border-width:0;

  // Icon
  &:before{
    top:50%;
    font-size:24px;
    margin-top:-12px;
  }

  @media #{$medium} {
    top:50%;
    width:60px;
    height:80px;
    margin-top:-40px;
    border:1px solid #222;
  }

}
.nav-button-left {
  left:0;
  bottom:0;
  border-left:none;
}
.nav-button-right {
  right:0;
  bottom:0;
  border-right:none;
}
.prev-icon {
  @include icon( '\e808' );

  // Icon
  &:before{
    // -- rev -- //
    /*
    top:auto;
    bottom:10px;
    left:0;
    */
  }

  @media #{$medium} {
    // Text
    &:after{
      content:'Prev Page';
    }
  }
}
.next-icon {
  @include icon( '\e809' );

  // Icon
  &:before{
    // -- rev -- //
    /*
    top:auto;
    bottom:10px;
    left:0;
    */
  }

  @media #{$medium} {
    // Text
    &:after{
      content:'Next Page';
    }
  }
}
.return-icon {
  @include icon( '\e812' );
  background-color:#fff;
  color:#000;
  
  &.nav-button-left {
    // -- rev -- //
    // border-right:1px solid #ccc;
  }

  &.nav-button-right {
    // -- rev -- //
    // border-left:1px solid #ccc;
  }

  // Icon
  &:before{
    // -- rev -- //
    /*
    top:auto;
    bottom:10px;
    left:0;
    color:#222;
    */
  }

  @media #{$medium} {
    // Text
    &:after{
      content:'Back';
    }
    &.nav-button-left {
      border-right:1px solid #222;
    }
    &.nav-button-right {
      border-left:1px solid #222;
    }
  }
}
.fullscreen-icon {
  @include icon('\e800');
  position:absolute;
  display:block;
  top:80px;
  right:10px;
  width:30px;
  height:30px;
  background-color:#222;
  border:2px solid #fff;
  border-radius:1000px;
  z-index:1001;

  &:before{
    color:#fff;
    font-size:16px;
    margin-top:-8px;
  }

  .contentMinimized &{
    background-color:#fff;
    border-color:#222;
    @include icon('\e801');

    &:before{
      color:#222;
      font-size:16px;
      margin-top:-8px;
    }
  }
}

.scrollable{
  -webkit-overflow-scrolling: touch;
}

%drawer{
  @include transition( opacity 400ms 200ms ease );
  @include box-shadow( 0 -5px 10px rgba(0,0,0,0.13) );
  position:absolute;
  top:100%;
  right:0;
  width:100%;
  max-width:24rem;
  padding:0 15px;
  z-index:2;
  background-color:#ededed;

  #object &{
    bottom:0;
  }

  #story &{
    bottom:40px;
  }

  @media #{$small} {
    @include box-shadow( 5px 0 10px rgba(0,0,0,0.13) );
    top:0;
    right:auto;
    left:-24rem;

    #story &{
      top:40px;
      bottom:0;
    }
  }

  @media #{$medium} {
    top:0;
    right:auto;
    bottom:0;
    left:0;
  }
}

%handle{
  // Base styles
  @include icon( '\e817' );
  display:block;
  width:70px;
  height:70px;
  background-color:rgba(237,237,237,0.4);
  &:before{
    font-size:30px;
    margin-top:-15px;
  }

  // Size and positioning
  position:fixed;
  margin:0;
  right:0;
  z-index:1;

  #object &{
    bottom:0;
  }

  #story &{
    bottom:40px;
  }

  @media #{$smallPortrait}{
    &.attached{
      position:absolute;
      top:0;
      bottom:auto;
      background-color:transparent;
    }
  }

  @media #{$small} {
    &:before{
      @include transform( rotate( 90deg ) );
    }

    // Size and positioning
    // On landscape and medium screens, button is attached regardless of class
    position:absolute;
    top:auto;
    right:-70px;
    bottom:0;
    left:auto;
  }

  @media #{$medium}{
    display:none;
  }
}

.glance{
  @include transition( opacity 300ms ease );
  @include transform( translate3d( 0, 0, 0 ) );
  @include no-select;
  @include box-shadow( inset 0 -5px 10px rgba(0,0,0,0.13));
  display:none;
  width:100%;
  background-color:rgba(255,255,255,0.75);
  height:80px;
  position:absolute;
  top:-80px;
  left:0;
  margin:0;
  opacity:0;
  line-height:80px;
  vertical-align:middle;
  font-style:italic;
  text-align:center;
  z-index:-1;

  .drawerify-vertical.drawerify-full &{
    display:block;
  }  

  .drawerify-open &{
    opacity:1;
    z-index:1;
  }

  @media #{$small}{
    display:none;
  }
}


