/**
 * Site and reusable element styles.
 */

*,
*:before,
*:after {
  @include box-sizing( border-box );
}


html,
body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  text-rendering:optimizeLegibility;
  -moz-font-feature-settings:"kern=0";
  -webkit-font-feature-settings:"kern" 0;
  -o-font-feature-settings:"kern" 0;
  -ms-font-feature-settings:"kern" 0;
  font-feature-settings:"kern" 0;
  -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
}

body {
  @media screen and (device-height:568px) and (device-width:320px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape),
  screen and (device-height:480px) and (device-width:320px) and (orientation:landscape) {
    &:after{
      position:absolute;
      display:block;
      top:0;
      left:0;
      width:100%;
      height:100%;
      text-align:center;
      margin-top:150px;
      font-size:1.2em;
      content:'Please rotate your phone';
    }
  }
}

/* Container styles */
.container {
  @include transition( opacity 150ms ease );
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  overflow:hidden;

  @media screen and (device-height:568px) and (device-width:320px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape),
  screen and (device-height:480px) and (device-width:320px) and (orientation:landscape) {
    opacity:0;
  }
}

/* Fluid images */

img,
object {
  max-width: 100%;
  outline:0;
  border:0;
  margin:0;
  padding:0;
}

/* Remove link highlighting */
a { 
  -webkit-tap-highlight-color: transparent; 
}

/* Clearfix */

.clearfix:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

/* Vertical centering */

.vcenter-table {
  display:table;
  width:100%;
  height:100%;
}
.vcenter-cell {
  display:table-cell;
  vertical-align:middle;
}

/* Type */

html,
body{
  font-family: 'Source Sans Pro', sans-serif;
  line-height:1.4;
}

h1 { font-size: 1.6875em; }
h2 { font-size: 1.375em; }
h3 { font-size: 1.375em; }
h4 { font-size: 1.125em; }
h5 { font-size: 1.125em; }
h6 { font-size: 1em; }

/* Colors */

html,
body{
  background-color:#ededed;
}

/* Flatmaps */

.flatmap {
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
}
.flatmap .hint {
  @include transition( opacity 250ms linear );
  position: absolute;
  right:15px;
  bottom:15px;
  margin: 0;
  padding: 10px;
  color: #444;
  background: rgba(255, 255, 255, 0.75);
  font-style:italic;
  white-space:nowrap;
  opacity:1;
  z-index: 3;

  // Override Leaflet font styles
  font-family: 'Source Sans Pro', sans-serif !important;
  font-size: 16px !important;
  line-height:1.4 !important;

  @media #{$large} {
    display:none;
  }

}
.flatmap.zoomed .hint {
  opacity: 0;
}

/**
 * Button and Icon styles
 *
 * @extend these and define positioning and special styling.
 */

.home-icon{
  @include icon('\e802');
  width:40px;
  height:40px;
  background-color:#222;
  border-radius:1000px;
  border:2px solid #fff;
  cursor:pointer;

  &:before {
    color:#fff;
    font-size:18px;
    margin-top:-9px;
  }
}

.minimize-icon {
  @include icon( '\e801' );
  @include transition( margin-top 100ms linear );
  width:40px;
  height:40px;
  border-radius:1000px;
  background-color:#222;
  border:1px solid #fff;
  cursor:pointer;

  &:before{
    color:#fff;
    font-size:20px;
    margin-top:-10px;
  }

  .contentMinimized &{
    @include icon( '\e800' );

    &:before{
      font-size:20px;
      margin-top:-10px;
    }
  }
}

.maximize-icon {
  @include icon( '\e800' );
  width:40px;
  height:40px;
  border-radius:1000px;
  background-color:#222;
  border:1px solid #fff;
  cursor:pointer;

  &:before{
    color:#fff;
    font-size:20px;
    margin-top:-10px;
  }

}

.meta-icon {
  @include icon( '\e813' );
  @include transition( all 125ms ease );
  width:40px;
  height:40px;
  background-color:#222;
  border-radius:1000px;
  border:1px solid #fff;

  // Icon
  &:before{
    color:#fff;
    font-size:20px;
    margin-top:-10px;
  }

  &.open,
  .showAttachmentMeta &{
    background-color:#fff;
    border-color:#222;

    // Icon
    &:before{
      color:#222;
    }
  }
}

/**
 * Navigation
 */
.nav-button {
  position:fixed;
  top:auto;
  bottom:0;
  width:45px;
  height:45px;
  margin-top:-40px;
  padding:10px 5px 5px;
  background-color:#000;
  color:#fff;
  font-size:0.7em;
  text-transform:uppercase;
  text-align:center;
  cursor:pointer;
  z-index:3;

  // Icon
  &:before{
    top:50%;
  }

  @media #{$medium} {
    top:50%;
    width:60px;
    height:80px;
    margin-top:-40px;
    border:1px solid #222;
  }

}
.nav-button-left {
  left:0;
  border-left:none;
}
.nav-button-right {
  right:0;
  border-right:none;
}
.prev-icon {
  @include icon( '\e808' );

  // Icon
  &:before{
    top:auto;
    bottom:10px;
    left:0;
  }

  @media #{$medium} {
    // Text
    &:after{
      content:'Prev Page';
    }
  }
}
.next-icon {
  @include icon( '\e809' );

  // Icon
  &:before{
    top:auto;
    bottom:10px;
    left:0;
  }

  @media #{$medium} {
    // Text
    &:after{
      content:'Next Page';
    }
  }
}
.return-icon {
  @include icon( '\e812' );
  background-color:#fff;
  color:#000;
  
  &.nav-button-left {
    border-right:1px solid #ccc;
  }

  &.nav-button-right {
    border-left:1px solid #ccc;
  }

  // Icon
  &:before{
    top:auto;
    bottom:10px;
    left:0;
    color:#222;
  }

  @media #{$medium} {
    // Text
    &:after{
      content:'Back';
    }
    &.nav-button-left {
      border-right:1px solid #222;
    }
    &.nav-button-right {
      border-left:1px solid #222;
    }
  }
}
.fullscreen-icon {
  @include icon('\e800');
  position:absolute;
  display:block;
  top:80px;
  right:10px;
  width:30px;
  height:30px;
  background-color:#222;
  border:1px solid #fff;
  border-radius:1000px;
  z-index:1001;

  &:before{
    color:#fff;
    font-size:16px;
    margin-top:-8px;
  }

  .contentMinimized &{
    background-color:#fff;
    border-color:#222;
    @include icon('\e801');

    &:before{
      color:#222;
      font-size:16px;
      margin-top:-8px;
    }
  }
}

.scrollable{
  -webkit-overflow-scrolling: touch;
}




