/**
 * Styles for the cover page.
 */

.cover-wrapper {
  position:absolute;
  top:0;
  right:0;
  bottom:3em;
  left:0;
  list-style:none;
  padding:0;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
}

#cover {
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  display:block;
  padding:20px 10px 0;
  margin:0;
  overflow:auto;
  -webkit-overflow-scrolling:touch;

  @media #{$medium}{
    padding:0 0 0 10px;
  }
}

.cover-item {
  @include transition( opacity 300ms ease );
  display:block;
  vertical-align:top;
  margin:0 auto 10px;
  height:auto;
  max-height:300px;
  max-width:100%;

  @media #{$medium}{
    opacity:0;
  }

  &.story {
    max-width:100%;
    width:300px;
    height:300px;
    padding:15px;
    background-color:#fff;
    border:1px solid #999;
  }

  &.panel{
    padding:15px;
    background-color:#fff;
    border:1px solid #999;
    max-width:100%;
    max-height:100%;
  }

  &.panel-big{
    width:610px;
    height:610px;
  }

  &.panel-portrait{
    width:300px;
    height:610px;
  }

  &.panel-landscape{
    width:610px;
    height:300px;
  }

  &.panel-small{
    width:300px;
    height:300px;
  }

  a {
    text-decoration:none;
  }

  @media #{$medium} {
    height:300px;
    margin:0 10px 0 0;
  }
}

.cover-item-image {
  display:block;
  max-height:100%;
  margin:0 auto;
  border:1px solid #999;
}

.cover-item-title {
  font-size:1.1em;
  color:#222;
  text-align:center;
  line-height:1.1;
  padding:0;
  margin:0;

  .object & {
    display:none;
  }
}

.cover-item-poster{
  width:100%;
  height:200px;
  background-size:cover;
  background-position:50% 50%;
  border:1px solid #999;  
}

.cover-item-caption {
  position:relative;
  height:85px;
  margin:0;
  padding:10px;
} 

.cover-panel-wrap{
  height:100%;
}

.cover-instructions {
  @include box-shadow(0 -3px 5px rgba(0,0,0,0.23));
  position:absolute;
  display:block;
  bottom:0;
  font-size:1em;
  font-style:italic;
  text-align:center;
  width:100%;
  height:50px;
  line-height:50px;
  vertical-align:middle;
  background-color:#ddd;
}