.leaflet-top .leaflet-bar{
	@include box-shadow(none);
}

.leaflet-bar a,
.leaflet-bar a:first-child,
.leaflet-bar a:last-child{
	@include transition( all 125ms ease );
	width:30px;
	height:30px;
	margin:0;
	line-height:26px;
	vertical-align:middle;
	background-color:#222;
	color:#fff;
	border:1px solid #fff;
	text-indent:-60px;
	overflow:hidden;
	position:relative;
}

.leaflet-bar a.leaflet-control-zoom-in{
	@include icon('\e815');
	border-top-left-radius:1000px;
	border-top-right-radius:1000px;
	&:before{
		font-size:16px;
		margin-top:-8px;
		text-indent:0;
	}
}

.leaflet-bar a.leaflet-control-zoom-out{
	@include icon('\e816');
	border-bottom-left-radius:1000px;
	border-bottom-right-radius:1000px;
	&:before{
		font-size:16px;
		margin-top:-8px;
		text-indent:0;
	}
}