/**
 * Object template styles.
 */

/**
 * Content - "Above the Fold" (Controls and Meta)
 */
.object-content-frame{
	@extend %drawer;
}

.object-minimize-content {
	@extend %handle;
}

.object-glance{
	@include transition( opacity 300ms ease );
	@include transform( translate3d( 0, 0, 0 ) );
	@include no-select;
	@include box-shadow( inset 0 -5px 10px rgba(0,0,0,0.13));
	width:100%;
	background-color:rgba(255,255,255,0.75);
	height:70px;
	position:absolute;
	top:-70px;
	left:0;
	margin:0;
	opacity:0;
	line-height:70px;
	vertical-align:middle;
	font-style:italic;
	text-align:center;

	.object-content-frame.open &{
		opacity:1;
	}

	@media #{$small}{
		display:none;
	}
}

.object-content{
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	margin:0 auto;
	background-color:#ededed;
	padding:15px;
	overflow-x:hidden;
	overflow-y:auto;
}

.object-menu {
	display:block;
	height:40px;
	margin:0;
	padding:0;
}
.object-home-link {
	@extend .home-icon;
  position:relative;
  display:block;
  float:left;
 	margin:0 5px 0 0;
}

.object-menu .toggle-meta {
	@extend .meta-icon;
	position:relative;
	display:block;
	float:left;
  margin:0 10px 0 0;
}
.object-title{
	margin:5px 0 0;
}
.meta1{
	@include transition( max-height 125ms ease );
	max-height:0;
	margin:0;
	overflow:hidden;

	.extended & {
		max-height:200px;
	}

	@media #{$medium} {
		max-height:none;
	}
}
.meta2,
.meta3{
	@include transition( max-height 125ms ease );
	margin:0;
	font-size:0.9em;
	font-weight:normal;
	max-height:0;
	overflow:hidden;

	.extended & {
		max-height:200px;
	}
}


/**
 * Navbar
 */
.object-nav {
	margin:15px 0 0;
}
.object-nav a {
	display:block;
	width:33.3%;
	float:left;
	padding:0.5em 0;
	border:1px solid #222;
	border-right:none;
	color:#222;
	text-transform: uppercase;
	font-size:0.85em;
	font-weight:700;
	text-align:center;
	background-color: #ededed;
	cursor:pointer;

	&.disabled,
	&.disabled:hover {
		color:#bbb;
		background-color:#ededed;
		cursor:default;
	}

	&:last-child{
		border-right:1px solid #222;
	}

	&.selected {
		color:#ededed;
		background-color: #222;
	}

	@media #{$medium} {
		&:hover{
			color:#ededed;
			background-color: #222;
		}
	}
}


/**
 * Content - Container
 */
.object-stories{
	margin:0;
	padding:0;
}


/**
 * Content - Details/Annotations
 */
.object-details{
	list-style:none;
	padding:0;
}
.annotation{
	padding:0 0 15px 0;
	position:relative;
}
.annotation-title{
	margin:0 0 0 40px;
	cursor:pointer;
}
.annotation-index{
	position:absolute;
	display:block;
	top:0;
	left:0;
	width:30px;
	height:30px;
	margin-right:10px;
	color:#fff;
	background-color:#222;
	border-radius:1000px;
	border:2px solid #fff;
	text-align:center;
	line-height:26px;
	font-size:1.125rem;
}
.annotation-content{
	@include transition( max-height 125ms ease );
	max-height:0;
	overflow:hidden;

	.annotation.active &{
		max-height:500px;
	}
}
.annotation-content p{
	margin:10px 0 0 0;
}


/**
 * Content - Details/Annotations - Attachments
 */
.annotation-attachments{
	@include transition( max-height 125ms ease );
	max-height:0;
	overflow:hidden;
	padding:0;
	margin:0;

	.annotation.active &{
		max-height:500px;
	}
}
.annotation-attachments p{
	font-size:0.75em;
	margin:15px 0 10px;
	text-transform:uppercase;
	color:#999;
	font-weight:bold;
	border-top:1px solid #ccc;
}
.attachment-thumb{
	display:inline-block;
	width:75px;
	height:75px;
	position:relative;
	margin:0 5px 5px 0;
	cursor:pointer;
	background-size:cover;
}
.attachment-big{
	@include transition( left 375ms ease );
  display:block;
  position:absolute;
  width:100%;
  height:100%;
  left:-300%;
  top:0;
  background-color:#ddd;
  z-index:1000000001;
  text-align:center;

  &.active {
  	left:0;
	}
}
.attachment-zoomer{
	@include transition( height 125ms ease );
	height:100%;

	.showAttachmentMeta & {
		height:67%;
	}
}
.attachment-big .return-link{
	@extend .nav-button;
	@extend .nav-button-left;
	@extend .return-icon;
	position:absolute;
	border-top:1px solid #222;
	border-right:1px solid #222;
}
.attachment-toggle-meta{
	@extend .meta-icon;
	position:absolute;
	display:block;
	right:12px;
	bottom:8px;
  margin:0;
  z-index:4;
}
.attachment-tombstone{
	@include transition( bottom 125ms ease );
	@include box-shadow( inset 0 5px 5px rgba(0,0,0,0.23));
	position:absolute;
	right:0;
	bottom:-33%;
	left:0;
	height:33%;
	padding:15px 60px;
	overflow-y:scroll;
	overflow-x:hidden;
	font-size:0.9em;
	text-align:left;
	background-color:#ededed;
	color:#444;

	.showAttachmentMeta & {
		bottom:0;
	}
}
.attachment-content{
	
}


/**
 * Content - Stories/"More"
 */
.more-title {
	margin:15px 0 0;
  text-transform:uppercase;
}

.object-related{
  list-style:none;
  padding:0;
}
.object-related a{
  color:#222;
  width:100%;
  border:1px solid #222;
  padding:10px 15px;
  display:block;
  margin:5px 0px;
  text-align:left;
  font-size:1em;
  transition:all 250ms linear;
  text-decoration: none;

  // TODO: Target non-touch devices
  @media screen and (min-width:1025px) {
	  &:hover {
	  	color:#ededed;
	  	background-color:#222;
	  }
	}
}


/**
 * Zoomer
 */
.object-zoomer {
	@include box-shadow( 0px 3px 5px rgba(0,0,0,0.23) );
	@include transition( opacity 125ms ease );
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	background-color:#ccc;
	text-align:center;
	z-index:2;
	
	@media #{$medium} {
		top:0;
		right:0;
		bottom:0;
		left:24rem;
	}
}


/*
 * Zoomer - Markers
 */
.leaflet-overlay-pane,
.leaflet-marker-pane{
  display:none;

  .object-zoomer.annotations & {
  	display:block;
 	}
}
.noteMarker {
	@include transition( all 125ms ease );
  padding: 3em;
  margin: -3em !important;
  text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: bold;
	font-size: 1em ;
  color: #fff;
  z-index:1000000 !important;
}
.noteMarker span {
	@include transition( all 125ms ease );
  display: block;
  height: 30px;
  width: 30px;
  margin: -15px 0 0 -15px;
  padding: 0;
  border-radius: 1000px;
  border: 2px solid #fff;
  font-weight: bold;
  text-align: center;
  font-size: 1.125rem;
  background-color: rgba(22, 22, 22, .55);
  line-height:26px;
  vertical-align:middle;
}
.noteMarker:hover span{
  width:36px;
  height:36px;
  margin: -18px 0 0 -18px;
  line-height:34px;
}