/**
 * Story template styles.
 */

/**
 * Header
 */
.story-title{
  position:absolute;
  display:block;
  top:0;
  left:0;
  height:50px;
  width:100%;
  margin:0;
  background-color:#222;
  text-align:center;
  font-size:1.3em;
  color:#fff;
  font-weight:600;
  line-height:50px; 
  padding:0 45px;
  overflow:hidden;
}

.story-home-link {
  @extend .home-icon;
  position:absolute;
  display:block;
  top:5px;
  left:5px;
  z-index:1;
}


/**
 * Slider structure 
 */
#story {
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  padding:50px 0 0 0;
  overflow:hidden;
  background: #ffffff;
  background: -moz-radial-gradient(center, ellipse cover,  #ffffff 0%, #e5e5e5 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5));
  background: -webkit-radial-gradient(center, ellipse cover,  #ffffff 0%,#e5e5e5 100%);
  background: -o-radial-gradient(center, ellipse cover,  #ffffff 0%,#e5e5e5 100%);
  background: -ms-radial-gradient(center, ellipse cover,  #ffffff 0%,#e5e5e5 100%);
  background: radial-gradient(ellipse at center,  #ffffff 0%,#e5e5e5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=1 );
}
.pages-wrap{
  @include transition( all 500ms cubic-bezier(0.81, 0.11, 0.11, 0.91) );
  position:relative;
  top:0;
  left:0;
  width:100%;
  height:100%;
  white-space:nowrap;
}
.page{
  position:relative;
  display:inline-block;
  width:100%;
  height:100%;
  vertical-align:top;
  white-space:normal;
  overflow:hidden;
  background-color:#ededed;
}


/**
 * Illustration
 */
.story-illustration {
  @include transition( right 100ms ease, bottom 100ms ease );
  @include box-shadow( 0px 3px 5px rgba(0,0,0,0.23) );
  position:absolute;
  top:0;
  right:0;
  bottom:67%;
  left:0;
  z-index:1;
  background-color:#ddd;

  .contentMinimized & {
    bottom:45px;
  }

  @media #{$medium} {
    top:0;
    right:33%;
    bottom:0;
    left:0;

    .contentMinimized & {
      right:60px;
      bottom:0;
    }

  }
}
.story-video,
.story-image,
.story-comparison,
.story-iframe{
  position:relative;
  width:100%;
  height:100%;
}
.story-video video{
  @include transition( top 100ms linear, max-height 100ms ease );
  display:block;
  width:auto;
  max-width:100%;
  height:auto;
  max-height:100%;
  margin:0px auto;
}
.story-image .flatmap{
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
}
.story-comparison .flatmap-a{
  position:absolute;
  top:0;
  right:50%;
  bottom:0;
  left:0;
}
.story-comparison .flatmap-b{
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:50%;
  border-left:1px solid #ccc;
}


/**
 * Content
 */
.story-content {
  @include transition( right 100ms ease, bottom 100ms ease );
  position:absolute;
  right:0;
  bottom:0;
  left:0;
  width:100%;
  height:67%;
  margin-top:0;
  padding-bottom:45px;
  overflow-y:scroll;
  background-color:#ededed;
  z-index:0;

  .contentMinimized &{
    bottom:-100%;
  }

  @media #{$medium}{
    right:0;
    bottom:0;
    left:auto;
    width:33%;
    height:100%;

    .contentMinimized &{
      right:-33%;
      bottom:0;
    }

  }
}

.story-content .caption {
  padding:2em;
}

.story-content .caption p{
  margin:0 0 1em 0;

  @media #{$medium} {
    margin:0 60px 1em 0;
    &:last-child{
      margin-bottom:0;
    }
  }
}

.story-content aside {
  @include meta;
  padding:0 2em 2em;
  margin:0;

  @media #{$medium} {
    margin:0 60px 0 0;
  }
}


/**
 * Action menu
 */
.story-menu {
  @include box-shadow( 0px -3px 5px rgba(0,0,0,0.23) );
  position:absolute;
  right:0;
  bottom:0;
  left:0;
  height:45px;
  margin:0;
  padding:0;
  text-align:center;
  background-color:#ddd;
  z-index:2;

  @media #{$medium} {
    @include box-shadow(none);
    position:absolute;
    top:0;
    right:0;
    bottom:auto;
    left:auto;
    width:35px;
    height:35px;
    padding:0;
    background-color:transparent;
  }
}

.story-menu .toggle-content {
  @extend .minimize-icon;
  @include box-shadow( none );
  position:relative;
  display:inline-block;
  margin:0;
  border:1px solid #ccc;
  z-index:1;

  @media #{$medium} {
    position:absolute;
    display:block;
    top:10px;
    right:8px;
  }

}

.story-return{
  @extend .nav-button;
  @extend .return-icon;
}
.story-prev-page{
  @extend .nav-button;
  @extend .nav-button-left;
  @extend .prev-icon;
}
.story-next-page{
  @extend .nav-button;
  @extend .nav-button-right;
  @extend .next-icon;
}