/**
 * Media queries, vendor prefixes, and base styles for frequently used elements.
 */

$landscape:'screen and (orientation:landscape)';
$medium:'screen and (min-width:1024px)';

@mixin box-sizing( $params ) {
  -webkit-box-sizing:$params;
  -moz-box-sizing:$params;
  box-sizing:$params;
}
@mixin box-shadow( $params... ) {
  -webkit-box-shadow:$params;
  -moz-box-shadow:$params;
  box-shadow:$params;
}
@mixin transition( $params... ) {
  -webkit-transition: $params;
  -moz-transition: $params;
  -o-transition: $params;
}
@mixin transform( $params ) {
  -webkit-transform:$params;
  -moz-transform:$params;
  -o-transform:$params;
  -ms-transform:$params;
  transform:$params;
}
@mixin transform-origin( $params ) {
  -webkit-transform-origin:$params;
  -moz-transform-origin:$params;
  -o-transform-origin:$params;
  -ms-transform-origin:$params;
  transform-origin:$params;
}
@mixin label{
  color:#222;
  font-size:0.8em;
  font-family:'Source Sans Pro', sans-serif;
  text-align:center;
  text-transform:uppercase;
}
@mixin meta{
  color:#888;
  font-size:0.9em;
  font-family:'Source Sans Pro', sans-serif;
  font-style:italic;
}
@mixin icon( $content ){
  font-style:normal;
  cursor:pointer;
  -webkit-tap-highlight-color: transparent;

  &:before{
    position:absolute;
    display:block;
    top:50%;
    width:100%;
    margin-top:-12px;
    text-align:center;
    line-height:100%;
    font-family:'griot';
    font-size:24px;
    content: $content;
  }
}