<section id="goldweights">
  <div id="zoomer" class="annotations">
    <flatmap image="131029_mia348_9660">
      <div ng-repeat="view in notes">
        <note ng-repeat="note in view.annotations">
        </note>
      </div>
    </flatmap>
  </div>

  <ol id="notes">
    <li ng-repeat="note in notes[0].annotations" ng-class="{active: note.active}">
      <h3 ng-bind="note.title"></h3>
      <p class="play icon-{{playing ? 'pause' : 'play'}}" ng-click="play(this, $event)" ng-if="note.proverb">
        <audio ng-src="{{note.trustedAudio}}"></audio>
      </p>
      <p ng-bind-html="note.trustedDescription"></p>
      <ul>
        <li ng-init="mash = mash.split(' ')" ng-repeat="mash in note.attachments"> <!-- this is sketchy. I'm storing "imageName TMS_ID AccessionNumber" in the attachments field -->
          <a ng-click="#"><img ng-src="//cdn.dx.artsmia.org/thumbs/tn_{{mash[0]}}.jpg"></a>
        </li>
      </ul>
    </li>
  </ol>
</section>
