<div class='cover-wrapper scrollable'>
  <ul id='cover' class='clearfix scrollable'>
    <li class='isotope-item cover-item' ng-class="{story: thing.recordType != 'object', object: thing.recordType == 'object', noPoster: !thing.thumbnail}" ng-repeat="thing in all" ng-hide="!thing.thumbnail">
      <a href="#/o/{{thing.id}}" ng-if="thing.recordType == 'object'">
        <img class='cover-item-image' ng-src="{{thing.thumbnail}}">
        <h2 class='cover-item-title' ng-bind="thing.title"></h2>
      </a>
      <a ng-href="#/stories/{{thing.id}}" ng-if="thing.recordType != 'object'">
        <div class='cover-item-poster' style="background-image: url({{thing.thumbnail}})"></div>
        <div class='cover-item-caption vcenter'>
          <h2 class='cover-item-title' ng-bind="thing.title"></h2>
        </div>
      </a>
    </li>
  </ul>
</div>

<aside class="cover-instructions">
  Slide to browse, tap to view
</aside>