<ul id="cover">
  <li ng-class="{story: thing.recordtype == 'story', noPoster: !thing.thumbnail}" ng-repeat="thing in all" ng-switch="thing.recordType == 'object'" ng-hide="!thing.thumbnail">
    <a href="#/o/{{thing.id}}" ng-switch-when="true">
      <img ng-src="{{thing.thumbnail}}">
    </a>
    <a ng-href="#/stories/{{thing.id}}" ng-switch-when="false">
      <div class='poster' style="background-image: url({{thing.thumbnail}})"></div>
      <span class='title'><strong ng-bind="thing.title"></strong></span>
    </a>
  </li>
</ul>

<aside id="instructions">
  <p>Slide to browse, tap to view</p>
</aside>
