<article id='object' ng-class='{showAllViews: showViews}'>

  <!-- Zoomer -->
  <div class='object-zoomer' ng-class="{annotations: activeSection == 'annotations' }">
    <flatmap image="{{id}}">
      <aside>Tap to change views</aside>
      <div ng-repeat="view in notes" ng-class="{active: activeSection == 'views'}">
        <note ng-repeat="note in view.annotations"></note>
        <a class="view" ng-click="activateView(view)" ng-class="{open: view.image == flatmapScope.image}" style="background-image: url(//cdn.dx.artsmia.org/thumbs/tn_{{view.image}}.jpg)"></a>
      </div>
    </flatmap>
  </div>

  <!-- Content -->
  <div class='object-content-container' drawerify="{ 
    320:{ orientation:'vertical', maxWidth:400, attachTo:'right', customStates:{ 'info':'.object-tombstone' }, startingState:'info', collapseHandle:true }, 
    1023:{ orientation:'horizontal', maxWidth:400, attachTo:'left', startingState:'closed', collapseHandle:false },
    default:'disabled'
  }">

    <div class='glance' transparentize=".object-content-container" ng-class="{translucent: translucent}">
      <p ng-bind-html="glanceText">{{glanceText}}</p>
    </div>

    <div class='object-content scrollable' ng-class="{translucent: translucent}">
 
      <menu class='object-menu'>
        <a class='object-home-link' href='#'></a>
        <a class='toggle-meta' ng-class='{open: showExtendedTombstone}' ng-click='toggleExtendedTombstone()' ng-if='wp.meta1 !== null || wp.meta2 !== null || wp.meta3 !== null' recalculate-drawer-states></a>
        <a id="share" ng-if="enableSharing" class='email' share ng-click='toggleEmail($event)' ng-class="{open: showEmail}"></a>
      </menu>

  	  <h1 class='object-title' ng-bind-template="{{wp.title}}"></h1>

  	  <div class='object-tombstone' ng-class='{extended: showExtendedTombstone}'>
  		  <h5 class='meta1'>{{wp.meta1}}</h5>
  		  <h6 class='meta2'>{{wp.meta2}}</h6>
  	    <h6 class='meta3' ng-bind-html="wp.meta3"></h6>
        <aside class='galleryLocation'>{{wp.location == 'Not on View' ? 'Not on View' : "Gallery "+wp.location}}</aside>
  	  </div>

      <nav class='object-nav clearfix'>
        <a ng-class="{selected: activeSection == 'about'}" ng-click="toggleView('about')">About</a>
        <a ng-class="{selected: activeSection == 'annotations', disabled: !viewEnabled('annotations', true)}" ng-click="toggleView('annotations')">Details</a>
        <a ng-class="{selected: activeSection == 'more', disabled: !viewEnabled('more', true)}" ng-click="toggleView('more')">More</a>
      </nav>

      <div class='object-stories'>

      	<!-- Where is scope.meta defined? Is this vestigial? --> 
        <div class='object-about' ng-if="activeSection == 'about'">
          <p ng-bind-html="wp.trustedDescription || meta.trustedDescription"></p>
          <aside class="galleryLocation" ng-if="wp.location != 'Not on View'">
            <img ng-src="http://artsmia.github.io/map/galleries/{{wp.location}}.png">
            <p>Located in <strong>Gallery {{wp.location}}</strong></p>
          </aside>
        </div>

  	    <ol class='object-details' ng-class="{active: activeSection == 'annotations'}" ng-if="activeSection == 'annotations'">
          <li ng-repeat="note in allNotes" ng-class="{active: note.active}" class="annotation">

            <h3 class='annotation-title' ng-click="activateNote(note, note.view)"><span class='annotation-index'>{{note.index}}</span>{{note.title || 'Annotation'}}</h3>
            <div class='annotation-content' ng-bind-html="note.trustedDescription"></div>

            <div class='annotation-attachments' ng-if="note.attachments.length">

              <p>Tap to expand</p>
              <div class='attachment-thumb' ng-repeat="attachment in note.attachments" ng-click="toggleAttachment(attachment, false)" ng-class="{active:attachment == currentAttachment}" style='background-image:url("{{attachment.thumbnail}}")'></div>

            </div>
  	      </li>
  	    </ol>

  	    <div class='object-more' ng-if="activeSection == 'more'" ng-class="{active: activeSection == 'more'}">
  	      <h5 class='more-title' ng-show="relatedStories">Interactive Features</h5>
  	      <ol class='object-related'>
  	        <li ng-repeat="story in relatedStories">
              <a ng-href="#/stories/{{story.id}}" ng-bind="story.title"></a>
  	        </li>
  	      </ol>
            <div ng-if="notes.length > 1" class="more-views">
              <h5 class='more-title' ng-show="relatedStories">More Views</h5>
              <a class="view" ng-click="activateView(view)" ng-class="{open: view.image == flatmapScope.image}" ng-repeat="view in notes" style="background-image: url(//cdn.dx.artsmia.org/thumbs/tn_{{view.image}}.jpg)"></a>
            </div>
  	    </div>

  	  </div>

    </div>
  </div>

	<!-- Fullscreen attachments -->
  <div class='attachment-big' ng-repeat='attachment in allAttachments' ng-class="{active: attachment == currentAttachment, showAttachmentMeta: showAttachmentCredits}">
    <flatmap class='attachment-zoomer' image="{{attachment.image_id}}"></flatmap>
    <aside class='attachment-tombstone scrollable' ng-if="attachment.meta">
      <div class='attachment-content' ng-bind-html='attachment.trustedDescription'></div>
      <p ng-bind-html="attachment.meta"></p>
    </aside>
    <a class="page-nav return-link left-nav" ng-click="toggleAttachment(attachment, true, $event)"></a>
    <a class="attachment-toggle-meta" ng-if="attachment.meta" ng-click="toggleAttachmentCredits(attachment)"></a>
  </div>

  <a class='object-maximize-content' ng-click='toggleMinimizeContent()'></a>

</article>
