<div class="row" id="objectMode" ng-class="{showViews: showViews}">
  <div class="large-16 columns ipadlandscape">
    <div id="object-content" ng-hide="sixBarClosed">
      <div id="info" class="large-6 columns" scroll ng-class="{scrolled: scrolled}">
        <nav>
          <a id="back" class="fitts-law" href="#" title="Back"><span class="typcn icon-home icon slide-object-nav"></span></a>
        </nav>
        <div class="tombstone" ng-class="{extended: showExtendedTombstone}" ng-click="toggleExtendedTombstone()">
          <h3 ng-bind-template="{{wp.title || json.title}}"></h3>
          <h5 ng-bind-template="{{json.artist || 'Artist unknown'}}, {{json.culture && json.culture + ','}} {{json.country}}"></h5>
          <h6>{{json.dated}}
            <a ng-click="toggleExtendedTombstone($event)" id="toggleTombstone" class="typcn icon-info-circled" ng-class="{open: showExtendedTombstone}" ng-click="toggleExtendedTombstone()"></a>
          </h6>
        </div>
        <div class="object-nav clearfix">
          <a id="about-object.b" ng-class="{selected: activeSection == 'about'}" ng-click="toggleView('about')">About</a>
          <a id="annotations.b" ng-class="{selected: activeSection == 'annotations', disabled: !viewEnabled('annotations', true)}" ng-click="toggleView('annotations')">Details</a>
          <a id="more.b" ng-class="{selected: activeSection == 'more', disabled: !viewEnabled('more', true)}" ng-click="toggleView('more')">More</a>
        </div>

        <aside class="tombstone" ng-class="{extended: showExtendedTombstone}">
          <h6>{{json.medium}}</h6>
          <h6>{{json.dimension}}</h6>
          <h6>{{json.creditline}}</h6>
          <h6>{{json.accession_number}}</h6>
        </aside>
        <div class="object-stories">
          <div id="about-object" ng-if="activeSection == 'about'">
            <p ng-bind-html="wp.trustedDescription || json.trustedDescription"></p>

          </div><!--end about this object-->

          <div id="more" ng-if="activeSection == 'more'" ng-class="{active: activeSection == 'more'}">
            <h5 ng-show="relatedStories">Interactive Features</h5>
            <ol id="relatedStories">
              <li ng-repeat="story in relatedStories">
                <a ng-href="#/stories/{{story.id}}" ng-bind="story.title"></a>
              </li>
            </ol>
          </div>

          <ol id="annotations" ng-if="activeSection == 'annotations'" ng-class="{active: activeSection == 'annotations'}">
            <li ng-repeat="view in notes">
              <ol>
                <li ng-repeat="note in view.annotations" ng-class="{active: note.active}" class="note">
                  <h3 ng-click="activateNote(note, view)"><em>{{note.index}}</em> {{note.title || 'Annotation'}}</h3>
                    <div class='note-content' ng-bind-html="note.trustedDescription"></div>
                    <div class='attachments' ng-if="note.attachments.length">
                      <h4>Tap to expand:</h4>
                      <div class='attachment-thumb' ng-repeat="attachment in note.attachments" ng-click="toggleAttachment(attachment, false)" ng-class="{active:attachment == currentAttachment}" style='background-image:url("{{cdn}}thumbs/tn_{{attachment}}.jpg")'>
                        <div class='attachment-big'>
                          <flatmap image="{{attachment}}"></flatmap>
                          <a class="back icon-back icon" ng-click="toggleAttachment(attachment, true, $event)">
                            Back
                          </a>
                          <a class="credits icon-info-circled icon" ng-click="toggleAttachmentCredits(attachment)" ng-hide="showAttachmentCredits">
                            Info
                          </a>
                          <aside ng-show="showAttachmentCredits" ng-click="toggleAttachmentCredits(attachment)">
                            <p ng-bind="credits[attachment].description"></p>
                            <p ng-bind="credits[attachment].credit"></p>
                          </aside>
                        </div>
                      </div>

                    </div>
                </li>
              </ol>
            </li>
          </ol>
          </div><!--end annotations-->

          <div id="rel-stories">
            <h3>Process Story: Making pots</h3>
            <h3>Process Story: Symbology</h3>
            <h3>Another kind of Story</h3>
            <h3>This is a story whose title could extend onto 2 or more lines and could be really really long</h3>
          </div><!--end relate stories-->

          <div id="rel-objects">
            Related Objects
          </div><!--end related objects-->

        </div>
      </div>
      <div id="zoomer" class="large-10 columns" ng-class="{full_width: sixBarClosed, annotations: activeSection == 'annotations'}">
        <div class="typcn icon slide-object-nav icon-resize-{{sixBarClosed ? 'full' : 'normal'}}" ng-class="" ng-click="toggleSixbar(this)"></div>
        <flatmap image="{{id}}">
          <div ng-repeat="view in notes" ng-class="{active: activeSection == 'views'}">
            <note ng-repeat="note in view.annotations" ng-class="{active: note.active}"></note>
            <a class="view" ng-click="activateView(view)">
              <img ng-src="//api.artsmia.org/images/1/tdx/300/{{view.image}}.tif">
            </a>
          </div>
        </flatmap>
      </div>
    </div>
  </div>
</div>
