<article class="story">
  <div id='pages-wrap' ng-style="{left: '-' + (activePage * 100) + '%'}">

    <section ng-repeat="page in story.pages" class="page page-{{page.type}}">

      <div class="story-comparison" ng-if="page.type == 'comparison'">
        <flatmap image={{page.image}} class='flatmap-a'></flatmap>
        <flatmap image={{page.imageB}} class='flatmap-b'></flatmap>
      </div>

      <div ng-if="activePage == $index && page.type != 'comparison'" class='story-image' ng-class="{tall: imageAspectRatio <= 1, wide: imageAspectRatio > 1, full: !page.storyCaptionOpen}" ng-if="page.type == 'image'">
        <flatmap image={{page.image}}></flatmap>
      </div>

      <div class='caption-wrap' ng-show="page.storyCaptionOpen">
        <div class='caption-close-wrap' ng-hide="page.type == 'video' || page.type == 'text'">
          <span class='typcn icon-cancel-circled icon caption-close fitts-law' href='#' title='close' ng-click="page.toggleStoryCaption()"></span>
        </div>
        <video controls ng-if="page.type == 'video'" ng-src="{{page.trustedVideo}}" poster="{{page.poster}}" width="800" height="800" on-play ng-class="{playing: page.playingNow}" x-webkit-airplay="deny"></video>
        <div ng-bind-html="page.trustedText" class='caption'></div>
        <aside>
          <p ng-bind="credits[page.image].description" ng-if="credits[page.image].description"></p>
          <p ng-bind="credits[page.image].credit" ng-if="credits[page.image].credit"></p>
        </aside>
        <aside ng-if="page.type == 'comparison'">
          <p ng-bind="credits[page.imageB].description" ng-if="credits[page.imageB].description"></p>
          <p ng-bind="credits[page.imageB].credit" ng-if="credits[page.imageB].credit"></p>
        </aside>
      </div>

      <span class='caption-open' ng-hide="page.storyCaptionOpen" ng-click="page.toggleStoryCaption()">Text</span>

    </section>

  </div>

  <div id='story-header'>
    <a id='story-back' class="typcn icon-home icon slide-object-nav" href="#"></a>
    <h1 ng-bind="story.title"></h1>
  </div>

  <div id='page-prev' class='page-arrow return' ng-click="backToObject()" ng-show="activePage == 0">
    <span class='page-arrow-text'>Back</span>
    <span class='page-arrow-icon typcn icon-back icon'></span>
  </div>
  <div id='page-prev' class='page-arrow' ng-click="updateActivePage(activePage - 1)" ng-hide="activePage == 0">
    <span class='page-arrow-text'>Prev Page</span>
    <span class='page-arrow-icon typcn icon-left-small icon'></span>
  </div>
  <div id='page-next' class='page-arrow return' ng-click="backToObject()" ng-show="activePage == (story.pages.length - 1) && story.pages.length > 1">
    <span class='page-arrow-text'>Back</span>
    <span class='page-arrow-icon typcn icon-back icon'></span>
  </div>
  <div id='page-next' class='page-arrow' ng-click="updateActivePage(activePage + 1)" ng-hide="activePage == (story.pages.length - 1)">
    <span class='page-arrow-text'>Next Page</span>
    <span class='page-arrow-icon typcn icon-right-small icon'></span>
  </div>
</article>
