<article id="story">

  <h1 class='story-header' ng-bind="story.title"></h1>
  <a class='home-link' href='#'></a>

  <div class='pages-wrap' ng-style="{left: '-' + (activePage * 100) + '%'}">
    
    <section ng-repeat="page in story.pages" class="page page-{{page.type}}" ng-class="{tall: imageAspectRatio <= 1 && page.type == 'image', wide: imageAspectRatio > 1, full: !page.storyCaptionOpen}">

      <div class='story-illustration' ng-if="page.type != 'text'" ng-class="{collapsed: page.storyCaptionOpen }">

        <!-- Comparison -->
        <div class='story-comparison' ng-if="page.type == 'comparison'">
          <flatmap image={{page.image}} class='flatmap-a'></flatmap>
          <flatmap image={{page.imageB}} class='flatmap-b'></flatmap>
        </div>

        <!-- Image -->
        <div class='story-image' ng-if="page.type == 'image'" ng-class="{tall: imageAspectRatio <= 1, wide: imageAspectRatio > 1, full: !page.storyCaptionOpen}">
          <flatmap image={{page.image}}></flatmap>
        </div>

        <!-- Video -->
        <div class='story-video vcenter' ng-if="page.type == 'video'">
          <video controls ng-src="{{page.trustedVideo}}" ng-poster="{{page.poster}}" width="800" height="800" on-play ng-class="{playing: page.playingNow}" x-webkit-airplay="deny"></video>
        </div>

        <!-- Iframe -->
        <iframe class='story-iframe' ng-src="{{page.iframe}}" ng-if="page.iframe"></iframe>

      </div>

      <div class='story-content' ng-if="page.text" ng-class="{expanded: page.storyCaptionOpen }">

        <div ng-bind-html="page.trustedText" class='caption'></div>
        <aside ng-if="page.meta" ng-bind-html="page.meta"></aside>
        <aside ng-if="page.metaB" ng-bind-html="page.metaB"></aside>

      </div>
      
      <a class='content-toggle' ng-if="page.text" ng-class="{closed: ! page.storyCaptionOpen }" ng-click="page.toggleStoryCaption()"></a>

      <!-- old stuff -->
      <!--
      <div class='caption-wrap' ng-show="page.storyCaptionOpen && page.image != 'lockup'">
        <div class='caption-close-wrap' ng-hide="page.type == 'video' || page.type == 'text'">
          <span class='typcn icon-cancel-circled icon caption-close fitts-law' href='#' title='close' ng-click="page.toggleStoryCaption()"></span>
        </div>


        <aside ng-if="page.meta">
          <p ng-bind-html="page.meta"></p>
        </aside>

        <aside ng-if="page.metaB">
          <p ng-bind-html="page.metaB"></p>
        </aside>

      </div>

      <span class='caption-open' ng-hide="page.storyCaptionOpen" ng-click="page.toggleStoryCaption()">Text</span>

      -->

    </section>

  </div>

  <!-- Navigation -->
  <a class='return-link page-prev page-nav' ng-click="backToObject()" ng-show="activePage == 0">Back</a>
  <a class='prev-link page-prev page-nav' ng-click="updateActivePage(activePage - 1)" ng-hide="activePage == 0">Prev Page</a>
  <a class='return-link page-next page-nav' ng-click="backToObject()" ng-show="activePage == (story.pages.length - 1) && story.pages.length > 1">Back</a>
  <a class='next-link page-next page-nav' ng-click="updateActivePage(activePage + 1)" ng-hide="activePage == (story.pages.length - 1)">Next Page</a>

</article>